{% extends 'base.html' %}
{% load i18n static %}
{% block nav %}

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'holders:index' %}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'holders:account' user.holder.account %}" class="nav-link">Welcome {{ user }}</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link btn btn-sm btn-outline-danger">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
        {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}

        <div class="container m-4">
            <div class=" card mx-auto text-center">
            <div class="card-body">
                <h1 class="mx-auto my-0 text-uppercase">BA</h1>
                <h2 class="mx-auto mt-2 mb-5">The banking app</h2>
                {% if user.is_authenticated and user.holder %}
                <a href="{% url 'holders:account' user.holder.account %}" class="btn btn-primary">Go to panel</a>
                {% else %}
                <a href="{% url 'holders:register' %}" class="btn btn-primary">Get Started</a>
                {% endif %}
            </div>
            </div>
        </div>

{% endblock %}
