{% extends 'email/base.html' %}
{% load i18n %}
{% block header_text %}
{% trans 'You are receiving this email because you requested a password reset for your user account at' %}
{% endblock %}
{% block main_text %}
    {% trans "Please go to the following page and choose a new password" %}
{% endblock %}
{% block top_text %}
    <tr>
    <td class="top-text-td">
        <div class="top-text-div">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</div>
    </td>
    </tr>
{% endblock %}
{% block bottom_text %}
<tr>
<td class="bottom-text-td">
    <div class="bottom-text-div">
        {% trans "Your username, in case you have forgotten, is" %}: {{ user.get_username }}
    </div>
</td>
</tr>
{% endblock %}
{% block button %}
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="btn-main" target="_blank">
        {% trans 'GO TO SITE' %}
    </a>
{% endblock %}