{% extends "base.html" %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <section class="mt-2">
                <h4>Check your email</h4>
                    <br>
                <p>A mail has been sent</p>

                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

                <a href="{% url 'login' %}">Login</a>

            </section>
        </div>
    </div>
</div>

{% endblock %}