{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <section>
                    {% if validlink %}

                        <h4>Confirm your new password</h4>
                        <br>

                        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary">Change my password</button>
                            </div>
                        </form>

                    {% else %}
                        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                    {% endif %}

                </section>
            </div>
        </div>
    </div>

{% endblock %}
